.NewTodoForm-container {
  display: flex;
  flex-direction: column;
}

.NewTodoForm {
  text-align: left;
  padding: 5px;
}

.NewTodoForm h2 {
  margin-bottom: 8px;
}

/* .NewTodoForm-task h2 {
  margin-bottom: 4px;
} */

.NewTodoForm-task {
  display: flex;
}

.NewTodoForm-task input {
  border-radius: 8px;
  flex: 2;
  padding: 10px;
}

.NewTodoForm-task button {
  margin: 5px;
  font-size: 20px;
  border-radius: 8px;
  font-weight: bold;
}
